* {
  margin: 0px;
  padding: 0px;
}

#button {
  border: 1px solid black;
}

.box {
  border: 1px solid black;
  box-sizing: border-box;
}
.main-container {
  border: 3px solid red;
  width: 500px;
  height: 500px;
  display: flex;
  flex-wrap: wrap;
}
